.header {
  background-color: pink;
  background-image: url("http://longwallpapers.com/Desktop-Wallpaper/love-wallpapers-hd-resolution-For-Desktop-Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(160, 52, 12);
  /* min-height: 200px; */
  padding: 180px 20px; 
  padding-bottom: 180px;
  text-align: left;
  font-size: 1.75rem;
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}
